---
layout: default
---
<div class="content-container">
    <ul class="post-list">
        {% for post in paginator.posts limit: 3 %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {{ post.excerpt }}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar">
    <h3>Recent Writings</h3>
    <ul class="disc">
        {% for post in site.posts offset: 3 limit: 10 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h3>About Matteo Gildone</h3>
    <p>A night owl, citizen of London, questionable character.</p>
    <p><a href="/feed.xml">Subscribe to Feed</a></p>
</div>

<div class="pagination">
    <p>
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="previous">Previous</a>
        {% else %}
        <a href="{{ site.baseurl }}/page{{ paginator.previous_page }}" class="previous">Previous</a>
        {% endif %}
        {% else %}
        <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ site.baseurl }}/page{{ paginator.next_page }}" class="next">Next</a>
        {% else %}
        <span class="next">Next</span>
        {% endif %}
    </p>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
