<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">Contacts</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list">
                    <li><h6>Telephone:</h6> 07840 545250</li>
                    <li><h6>Email:</h6><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="footer-col  footer-col-2">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <i class="fa fa-fw fa-github"></i>

                            <span class="username">{{ site.github_username }}</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <i class="fa fa-fw fa-twitter"></i>
                            <span class="username">{{ site.twitter_username }}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col  footer-col-3">
                <p class="text"></p>
            </div>
        </div>

    </div>

</footer>
<script type="text/javascript">
WebFontConfig = {
    google: { families: [ 'Open+Sans::latin', 'Passion+One::latin' ] }
};
(function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
})(); </script>
<script>
(function() {

    var bodyEl = document.body,
    content = document.querySelector( '.content-wrap' ),
    openbtn = document.querySelector( '.menu-icon' ),
    closebtn = document.getElementById( '.close-button' ),
    isOpen = false;

    function init() {
        initEvents();
    }

    function initEvents() {
        openbtn.addEventListener( 'click', toggleMenu );
        if( closebtn ) {
            closebtn.addEventListener( 'click', toggleMenu );
        }

        // close the menu element if the target it´s not the menu element or one of its descendants..
        content.addEventListener( 'click', function(ev) {
            var target = ev.target;
            if( isOpen && target !== openbtn ) {
                toggleMenu(ev);
            }
        } );
    }

    function toggleMenu(event) {
        event.preventDefault();
        if( isOpen ) {
            bodyEl.classList.remove('show-menu');
        }
        else {
            bodyEl.classList.add('show-menu');
        }
        isOpen = !isOpen;
    }

    init();

})();
</script>
